* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 0.938rem;
}

.container {
  background-color: #d5e1ef;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #fff;
  width: 20rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.0477);
}

.card-img-box img {
  width: 100%;
  border-radius: 10px;
}

.card-text-box {
  text-align: center;
  padding: 1rem;
}

.card-heading {
  color: #1f314f;
  font-size: 1.375rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.card-text {
  color: #68778d;
  line-height: 1.4;
  letter-spacing: 0.2px;
  margin-bottom: 0.5rem;
}

.attribution {
  font-size: 0.688rem;
  text-align: center;

  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
